.columns {
  margin: -10px;
}
.columns > .column {
  padding: 10px;
}

.columns-large {
}
.columns-large .column {
}

.columns-medium {
}
.columns-medium .column {
}

@media (min-width: 480px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
}
